{% extends "layout.html" %}
 {% block title%} <title> Sudam Photography-Services</title> {% endblock %}
{% block body %}

 <div class="wrapper">
        <div class="box">
            <div class="front-face">
                <div class="icon"><i class="fas fa-photo-video"></i></div>
                <span>Photography</span>
            </div>
            <div class="back-face">
                <span>Photography</span>
                <p>Sunday To Saturday: 24 Hours</p>
                <p>Sunday To Saturday: 7 Days</p>
                <p>Sunday To Saturday: 365 Days</p>
            </div>
        </div>

        <div class="box">
            <div class="front-face">
                <div class="icon"><i class="fas fa-camera-retro"></i></div>
                <span>Wedding Photoshoot</span>
            </div>
            <div class="back-face">
                <span>Wedding Photoshoot</span>
                <p>Sunday To Saturday: 24 Hours</p>
                <p>Sunday To Saturday: 7 Days</p>
                <p>Sunday To Saturday: 365 Days</p>
            </div>
        </div>

        <div class="box">
            <div class="front-face">
                <div class="icon"><i class="fas fa-code"></i></div>
                <span>Website Development</span>
            </div>
            <div class="back-face">
                <span>Website Development</span>
                <p>Sunday To Saturday: 24 Hours</p>
                <p>Sunday To Saturday: 7 Days</p>
                <p>Sunday To Saturday: 365 Days</p>
                <p>Feel Free To Call At:- 8459881535</p>
            </div>
        </div>
    </div>





 {% endblock  %}
